@import "../css/vendor/fontawesome.css";
@import "../css/plugins/swiper.css";
@import "../css/plugins/odometer.css";
@import "../css/vendor/animate.min.css";
@import "../css/vendor/bootstrap.min.css";

// custom css
@import "./style.scss";
@import "./custom.scss";
